
  h1 {
    margin-bottom: 50px;
    text-align: center;
  }

  *{
    box-sizing: border-box;
  }
  


.box1{
 border: 1px solid black;
 background-color: gray;
 position:relative;
 margin-bottom: 5%;
}

.box2{
 border: 1px solid black;
 background-color: gray;
 position:relative;
 margin-bottom: 5%;
 }
   
.box3{
 border: 1px solid black;
 background-color: gray;
 position:relative;
 margin-bottom: 5%;
}
     
.float1{
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 0px;
    margin-right: 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: pink;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px; 
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .float2{
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 0px;
    margin-right: 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: brown;
    color:white;
    padding-left: 26.688px;
    padding-right: 26.688px;
    padding-top: 3px;
    padding-bottom: 3px; 
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .float3{
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: 0px;
    margin-right: 0px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: burlywood;
    padding-left: 22.21px;
    padding-right: 22.21px;
    padding-top: 3px;
    padding-bottom: 3px; 
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
    
  .text{
    clear:right;
    text-align: justify;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }

  .row{
    width: 100%;
  
  }

  @media (min-width: 992px) {
    .box1, .box2, .box3{
      float:left;
      margin-left:5%;
      
    }
      
     .box1 {
      width:26.66%;
    }

    .box2 {
      width: 26.66%;
    }

    .box3 {
      width: 26.66%;
    }
 }
  

 @media (min-width:768px) and (max-width: 991px) {
  .box1, .box2, .box3{
    float:left;
    margin-left:6.66%;
    
  }
    
   .box1 {
    width:40%;
  }

  .box2 {
    width: 40%;
  }

  .box3 {
    width: 86.66%;
  }

  .float1 {
    width: 40%;
    font-size: 25px;
  }

  .float2 {
    width: 40%;
    font-size: 25px;
  }

  .float3 {
    width: 18.41%;
    font-size: 25px;
  }

  .text{
    margin-top: 45px;
    font-size:16px ;
  }
}



@media (max-width: 767px) {
  .box1, .box2, .box3{
    float:left;
    margin-left:10%;
    
  }
    
   .box1 {
    width:80%;
  }

  .box2 {
    width: 80%;
  }

  .box3 {
    width: 80%;
  }

  .float1 {
    width: 42%;
    font-size: 26px;
  }

  .float2 {
    width: 42%;
    font-size: 26px;
  }

  .float3 {
    width: 42%;
    font-size: 26px;
  }

  .text{
    margin-top: 50px;
    font-size:18px ;
  }

}
 

  
  

  
